@import "tailwindcss";
@import "tw-animate-css";
/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* GLOBAL BODY STYLE ↓ */
body {
  /* font-family not needed here because it's coming from layout.jsx */
  background-color: #222222;           /* default text color */
  color: #ffffff; /* default background color */
}
.container {
  
  padding: 20px;
}
